<div id="image_container">

  <div id="header"></div>

  <h1 id="title">Swap your clothes and accessories online for free</h1>

  <div id="center_of_image">
    <div>Trade my style  is the easiest way to swap your clothes, make new friends, and help the environment. Join our online clothing swap party and exchange your wardrobe today. Trading clothes has never been easier.</div>
    <button class="btn" (click)="goToSearchView()">Start swapping for free</button>
  </div>

  <a href="/home">
    <div id="logo_container">
      <img src="../../../images/fashion_icon.png" height="50px" width="50px">
      <span>Trade my style</span>
    </div>
  </a>

</div>
