<div id="header"></div>

<h1 id="title">Swap your clothes and accessories online for free</h1>

<div id="center_of_image">
  <div>Trade my style  is the easiest way to swap your clothes, make new friends, and help the environment. Join our online clothing swap party and exchange your wardrobe today. Trading clothes has never been easier.</div>
  <a *ngIf="!login" class="btn btn-primary" (click)="goToLoginView()">Start swapping for free</a>
  <a *ngIf="login" class="btn btn-primary" (click)="goToSearchView()">Start swapping for free</a>
</div>

<a href="/home">
  <div id="logo_container">
    <img src="fashion_icon.png" height="50px" width="50px">
    <span>Trade my style</span>
  </div>
</a>

<div *ngIf="!login" id="toLogIn">
  <a class="btn btn-primary" (click)="goToLoginView()">Log in</a>
</div>


<div *ngIf="login" id="toLogOut">
  <a href="/user-profile" id="username"><span>{{login.name}}</span></a>
  <a class="btn btn-primary" href="http://localhost:8080/logout">Log out</a>
</div>

<div id="items">
  <a (click)="goToItemDetailsView(3)" *ngIf="items[3]"><img src="/api/files/{{items[3].image}}"></a>
  <a (click)="goToItemDetailsView(4)" *ngIf="items[4]"><img src="/api/files/{{items[4].image}}"></a>
  <a (click)="goToItemDetailsView(5)" *ngIf="items[5]"><img src="/api/files/{{items[5].image}}"></a>
</div>

