body, html{
  height: 100%;
  margin: 0;
}

#logo_container{
  position: absolute;
  top: 0;
  margin: 1%;
  width: 15%;
  transition: 0.3s;
}

#logo_container:hover{
  opacity: 0.5;
  cursor: pointer;
}

#logo_container span{
  font-family: 'Poiret One', cursive;
  color: black;
  font-size: 1.4em;
  margin-left: 5%;
}

#header{
  background-image: url("../../../images/fashion_background.jpg");
  height: 82rem;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title{
  position: absolute;
  top: 15rem;
  margin-left: 15rem;
  font-size: 2.5em;
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}

#center_of_image{
  position: absolute;
  top: 25rem;
  margin-left: 17.5rem;
}

#center_of_image div{
  width: 70rem;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

#center_of_image button{
  text-align: center;
  margin-left: 25rem;
  margin-top: 5rem;
}
