body, html{
  height: 100%;
  margin: 0;
}

h1{
  margin: 0;
  padding-top: 10rem;
  padding-left: 12rem;
  font-size: 2.5em;
  font-family: 'Hind', sans-serif;
  font-weight: 700;
}

#header{
  background-image: url("../../../images/fashion_background.jpg");
  height: 82rem;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
