<div id="container"></div>

<a href="/home">
  <div id="logo_container">
    <img src="fashion_icon.png" height="50px" width="50px">
    <span>Trade my style</span>
  </div>
</a>

<div *ngIf="login" id="user_details">
  <div>
    <span class="info">Username: </span> <span id="username">{{login.name}}</span>
  </div>
</div>

<div *ngIf="login" id="toLogOut">
  <a href="/user-profile" id="userlink"><span>{{login.name}}</span></a>
  <a class="btn btn-primary" href="http://localhost:8080/logout">Log out</a>
</div>

<div *ngIf="user" id="items">
  <span class="info">Items: </span>
  <ul *ngIf="user.items.length">
    <li><img *ngFor="let item of user.items" src="/api/files/{{item.image}}"></li>
  </ul>
</div>


<!-- EVERYTHING UP IS OK -->


<!--<div id="uploadFile">-->
  <!--&lt;!&ndash;action="http://localhost:8080/api/items/post" method="post" content='application/json'&ndash;&gt;-->
  <!--<form enctype="application/json" method="post" action="http://localhost:8080/api/items/post">-->
    <!--<h4>Fill item details:</h4><br>-->
    <!--<span>Name: </span><input type="text" name="name" title="item-name" required><br>-->
    <!--<span>Brand: </span><input type="text" name="brand" title="item-brand"><br>-->
    <!--<span>Color: </span><input type="text" name="color" title="item-color"><br>-->
    <!--<span>Price: </span><input type="number" name="price" title="item-price"><br>-->
    <!--<span>Size: </span><br>-->
    <!--<select name="size">-->
      <!--<option>XS</option>-->
      <!--<option>S</option>-->
      <!--<option>M</option>-->
      <!--<option>L</option>-->
      <!--<option>XL</option>-->
    <!--</select><br>-->
 <!--&lt;!&ndash;   <span>Insert item's photo: </span><input name="image" type="file" required><br>&ndash;&gt;-->
    <!--<button class="btn btn-primary" type="submit">Add new item</button>-->
  <!--</form>-->
<!--</div>-->
