<div id="container"></div>

<a href="/home">
  <div id="logo_container">
    <img src="fashion_icon.png" height="50px" width="50px">
    <span>Trade my style</span>
  </div>
</a>

<div *ngIf="login" id="user_details">
  <div>
    <span class="info">Username: </span> <span id="username">{{login.name}}</span>
  </div>
</div>

<div *ngIf="login" id="toLogOut">
  <a href="/user-profile" id="userlink"><span>{{login.name}}</span></a>
  <a class="btn btn-primary" href="http://localhost:8080/logout">Log out</a>
</div>

<div *ngIf="user" id="items">
  <span class="info">Items: </span>
  <ul *ngIf="user.items.length">
    <li><img *ngFor="let item of user.items" src="/api/files/{{item.image}}"></li>
  </ul>
</div>


<!-- EVERYTHING UP IS OK -->

<div id="uploadFile">
  <form method="POST" enctype="multipart/form-data" action="api/file">
  <h4>Fill item details:</h4><br>
  <span>Name: </span><input #itemName id="item-name" type="text" name="name" title="item-name" required><br>
  <span>Brand: </span><input #itemBrand id="item-brand" type="text" name="brand" title="item-brand" required><br>
  <span>Color: </span><input #itemColor id="item-color" type="text" name="color" title="item-color" required><br>
  <span>Price: </span><input #itemPrice id="item-price" type="number" name="price" title="item-price" required><br>
  <span>Size: </span><br>
  <select #itemSize name="size">
    <option>XS</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
  </select><br>
  <span>Insert photo: <input type="file" title="item-photo" name="file" #itemPhoto></span>

  <!--<button class="btn btn-primary" (click)="uploadItemPhoto(itemPhoto.value)">Upload photo</button>-->

  <button class="btn btn-primary" (click)="addItem(itemName.value, itemBrand.value,
   itemColor.value, itemPrice.value, itemSize.value, itemPhoto.value)">Add new item</button>
  </form>
</div>

<div id="myForm">
  <form method="POST" enctype="multipart/form-data" action="api/file">
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
</div>

